/* BOOTSTRAP BEGIN  */

.w-40 {
    width: 40%;
}

.mt-100 {
    margin-top: 100px
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

/* BOOTSTRAP END  */

/* MAP BEGIN  */

#map {
    width: 100%;
    height: 100%;
}

/* Behavior BEGIN */

.selected-vehicle {
    background-color: darkgrey;
}

.hide{
    display: none;
}

/* Behavior END */
